@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Roboto:wght@300;400;500&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  outline: none;
}

body {
  color: aliceblue;
  font-family: 'Carrois Gothic SC', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;